body{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    max-width: 960px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}