body {
    font-family: "Times", serif;
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #4709ba;
    --secondary-color: #201620;
    --accent-1-color: #37a047;
    --accent-2-color: #b54714;

    --heading-font: "Times", serif;
    --paragraph-font: "Times" serif;

    --nav-backgroung-color: #c7e2a8;
    --nav-link-color: #131ead;
    --nav-hover-link-color: #d1e704;
    --nav-hover-background-color: #3f6175;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent-1-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-backgroung-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}